<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simplegeo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/simplegeo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/simplegeo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Circle"></activity>
        <activity android:name=".cylinder" />
        <activity android:name=".Cube" />
        <activity android:name=".Cone" />
        <activity android:name=".squareActivity" />
        <activity android:name=".trigon" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>